  .embla__button {
    -webkit-appearance: none;
    appearance: none;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 2.0rem;
    height: 2.0rem;
    z-index: 1;
    border-radius: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .embla__button:disabled {
    color: white;
    background-color: transparent;
  }

  .embla__button__svg {
    width: 100%;
    height: 100%;
  }

  .embla__button__prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  .embla__button__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }


  @media only screen and (max-width: 1099px) {
    .embla__button__prev {
      position: absolute;
      top: inherit;
      bottom: -30px;
      left: 40%;
    }

    .embla__button__next {
      position: absolute;
      top: inherit;
      bottom: -30px;
      right: 35%;
    }
  }

  @media only screen and (max-width: 992px) {
    .embla__button__prev {
      left: 40%;
    }

    .embla__button__next {
      right: 40%;
    }
  }

  @media only screen and (max-width: 567px) {
    .embla__button__prev {
      left: 35%;
      bottom: -10px;

    }

    .embla__button__next {
      right: 35%;
      bottom: -10px;
    }
  }